* {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: aqua;
}

header ul {
    list-style: none;
}


header ul li {
    padding: 20px 30px;
}


body {
    height: 100vh;
    position: relative;
    background-color: #e69696;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: aqua;
}